
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if page.has_other_pages %}
                        <ul class="pagination">

                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% else %}

                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% endif %}

                        {% for i in page.paginator.page_range %}
                            {% if page.number == i %}
                            <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href=#><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>