<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                <div class="list-inline">
                    <a href="tel:+977-9868063925"><i class="fa fa-phone"></i>+977-9868063925</a>
                    <a href="tel:info@wheelars.com"><i class="fa fa-envelope"></i>info@wheelars.com</a>
                    <a href="tel:info@wheelars.com"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-12">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                        <li>Hi, {{user.first_name }}</li>
                        <li>
                        <a href="{% url 'accounts:dashboard' %}" class="sign-in"><i class="fa fa-tachometer"></i> Dashboard</a>
                    </li>




                    <li>
                        <a href="{% url 'accounts:logout' %}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>

                    {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->